{% extends "::base.html.twig" %}
{% block title %} Home {% endblock %}
{% block body %}
	<h2>title</h2>
	{% for key, products in products %}
		{{ key }}
		{% for product in products %}
			{% if loop.first %}
			<table>
			{% endif %}
			<tr>
			<td>{{ product.id }}
			</td>
			<td>{{ product.category.name }}</td>
			<td>{{ product.brand.name }}</td>
			<td>
			<a href="{{ path('audsur_shop_get_single_product', {'productSlug': product.slug} ) }}">
			{{ product.name }}
			</a></td>
			<td>{{ product.description }}</td>
			</tr>
			{% if loop.last %}
			</table>
			{% endif %}
		{% endfor %}

	{#{% else %}#}
		{#No users have been found.#}
	{% endfor %}


	{#<a href="{{ paginatorIndex - 1 }}">vorige</a>#}
	{#<a href="{{ paginatorIndex + 1 }}">volgende</a>#}

{% endblock %}


