
<table>
{% for product in products[(paginatorIndex * 10):10]%}
		<tr>
			<td>{{ product.id }}
			</td>
			<td>{{ product.category.name }}</td>
			<td>{{ product.brand.name }}</td>
			<td>
				<a href="{{ path('audsur_shop_get_single_product', {'productSlug': product.slug} ) }}">
					{{ product.name }}
				</a></td>
			<td>{{ product.description }}</td>
		</tr>
{% else %}
	No users have been found.
{% endfor %}
</table>

<a href="{{ paginatorIndex - 1 }}">vorige</a>
<a href="{{ paginatorIndex + 1 }}">volgende</a>

{{ render(controller('AudsurShopBundle:Menu:categoryList')) }}
{{ render(controller('AudsurAdminBundle:Default:')) }}
