{% extends "::base.html.twig" %}
{% block title %} Home {% endblock %}
{% block body %}
	<h2>title</h2>
	<div class="productOverview">

		{#//{{ dump(product) }}#}

		{% for product in group %}

				{# {{ product.id }} #}
				{# {{ product.category.name }} #}
				<a class="productRow" href="{{ path('audsur_shop_get_single_product', { 'categorySlug': product.category.slug, 'productId': product.id, 'productSlug': product.slug })}}">
					<div class="model">
						<span class="brandName">{{ product.brand.name }}</span> <span class="name">{{ product.name }}</span>
					</div>
					<div class="description">
						<span>{{ product.description |striptags | truncate(200, true) }}</span>
					</div>
				</a>
		{% endfor %}

	</div>

	{#<a href="{{ paginatorIndex - 1 }}">vorige</a>#}
	{#<a href="{{ paginatorIndex + 1 }}">volgende</a>#}

{% endblock %}


