{% extends "::adminbase.html.twig" %}
{% block title %} Admin | Index {% endblock %}
{% block body %}
	<h2>Overzicht</h2>

	<h3>Filter Resultaten</h3>
	{{ form(filterForm) }}

	{#{% if paginatorIndex > 0 %}#}
		{#<a href="{{ path('admin_product_overview', {'paginatorIndex': paginatorIndex - 1, test:10}) }}">vorige pagina</a>#}
	{#{% endif %}#}

	{#{% if paginatorIndex < totalResult * limitResult %}#}
		{#<a href="{{ path('admin_product_overview', {'paginatorIndex': paginatorIndex + 1}) }}">volgende pagina</a>#}
	{#{% endif %}#}


	<h3>Resultaten</h3>

	{% for product in products[(paginatorIndex * limitResult):limitResult] %}
	{% if loop.first %}
	<table>
		<th>
			<td>categorie</td>
			<td>id</td>
			<td>merk</td>
			<td>type</td>
		</th>
	{% endif %}
		<tr>
			<td>{{ product.category.name }}</td>
			<td>{{ product.id }}</td>
			<td>{{ product.brand.name }}</td>
			<td>{{ product.name }}</td>
			<td>
				<a href="{{ path('admin_product_edit', {id: product.id}) }}">wijzig</a>
			</td>
			<td>
				<a href="{{ path('admin_product_delete', {id: product.id}) }}">verwijder</a>
			</td>
		</tr>

		{% if loop.last %}</table>{% endif %}

	{% endfor %}

{% endblock %}


